.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  border: 1px solid var(--main-text-color);
  border-radius: 3px;

  display: grid;
  grid-template-columns: 1fr 40px;
}

.li + .li {
  margin-top: 5px;
}

.li__button.li__button {
  width: auto;
  padding: 20px;
  display: block;
  cursor: pointer;
  transition: opacity .1s ease-in;
}

.li--completed > .li__button {
  opacity: .5;
}

.li__button:hover {
  font-weight: bold;
}

.li__button > .fa {
  margin-right: .5em;
}

.li__text {
  padding: 0 20px 20px;
  font-size: 80%;
}

.li__text h1 {
  font-size: 1.2em;
}