.progress {
  overflow: hidden;
  border-radius: .3rem;
  height: 2rem;
  background-color: var(--main-bg-color);
  width: 100%;
  border: 1px solid var(--main-text-color);
  margin-bottom: 2rem;
  box-shadow: 3px 3px 3px rgba(0,0,0,.15) inset;
}

.progress__bar {
  background-color: #060;
  display: block;
  height: 100%;
  transition: width .2s ease-in-out;
  box-shadow: inherit;
}


.progress__label {
  color: var(--main-text-color);
  font-size: 80%;
  letter-spacing: .03em;
}