:root {
  --main-bg-color: #F1F1F1;
  --main-text-color:#293349;
  --accent-color:#9DCFC8;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.btn {
  padding: inherit;
  margin: 0;
  text-align: inherit;
  background: none;
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.ui-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.center {
  text-align: center;
}

.App {
  padding: 0 2rem 2rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}

@media screen and (max-width:960px) {
  .App {
    grid-template-columns: 1fr;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: bold;
}